<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchColor</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在地を表示するために、位置情報の「使用中のみ許可」が必要です。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>祭典期間中に屋台（山車）の位置を配信するため、位置情報の「常に許可」が必要です。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
